<header th:fragment="header">
    <div class="navbar navbar-default navbar-static-top background-home" role="navigation">
        <div class="container">
            <div class="navbar-header nav-br nav-br:hover">
                <a th:href="@{/}" class="navbar-brand nav-br nav-br:ho">CONFERENCE SCHEDULER</a>

                <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav navbar-right comeOn ">


                    <li sec:authorize="isAuthenticated()" class="comeOn">
                        <a th:href="@{/venue/all}" class="comeOn" >
                            Show All Venues
                        </a>
                    </li>

                    <li sec:authorize="isAuthenticated()" style="margin-top: 15px;"> |</li>

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/conference/create}">
                            Create Conference
                        </a>
                    </li>

                    <li sec:authorize="isAuthenticated()" style="margin-top: 15px;"> |</li>

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/venue/add}">
                            Add Venue
                        </a>
                    </li>

                    <li sec:authorize="isAuthenticated()" style="margin-top: 15px;"> |</li>

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/hall/add}">
                            Add Hall
                        </a>
                    </li>

                    <li sec:authorize="isAuthenticated()" style="margin-top: 15px;"> |</li>

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/session/create}">
                            Add Session
                        </a>
                    </li>

                    <li sec:authorize="isAuthenticated()" style="margin-top: 15px;"> | </li>

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/user/profile}">
                            My Profile
                        </a>
                    </li>

                    <li sec:authorize="isAuthenticated()" style="margin-top: 15px;"> |</li>


                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/user/logout}">
                            Logout
                        </a>
                    </li>



                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/venue/all}">
                            Show All Venues
                        </a>
                    </li>

                    <li sec:authorize="isAnonymous()" style="margin-top: 15px;"> |</li>

                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/user/register}">
                            Register
                        </a>
                    </li>

                    <li sec:authorize="isAnonymous()" style="margin-top: 15px;"> |</li>

                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/user/login}">
                            Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
