<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/register}" method="post">
                <fieldset>
                    <legend>Conference Creation</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_fullname">Conference Owner</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" type="text" id="user_fullname" placeholder="Full Name"
                                   name="fullName" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Descrition</label>
                        <div class="col-sm-4">
                            <textarea rows="4" cols="50" name="comment" form="">Enter text here...</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <input value="Cancel" type="button" class="btn btn-primary" style="border-style: none"/>
                            <input value="Submit" type="submit" class="btn btn-primary" style="border-style: none"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
