.centered {

    color: white !important;
    font-size: 220% !important;
    font-weight: bold !important;
    font-family: Phosphate!important;
    position: absolute !important;
    top: 30%!important;
    left: 34% !important;
    transform: translate(-50%, -50%) !important;


    border: #217dbb;

}

.background-home{

    background-color: rgba(44, 22, 22, 0.42) !important;
    border-color: #e7e7e7 !important;
}
.border-home-carousel{
    background-color: rgba(44, 22, 22, 0.42) !important;
    border-color: #e7e7e7 !important;
}

.bottom-left {
    position: absolute !important;
    color: white !important;
    font-family: Apple Chancery!important;
    bottom: 20px !important;
    left: 250px !important;
}
.date-homepage {

    font-size: 150% !important;

    font-weight: bold !important;
    font-family: Apple Chancery!important;
    color: white !important;

    position: absolute !important;
    top: 120px !important;
    left: 262px !important;
}

body{
    background: URL("/images/carousel/home-color.jpg");

}

.text-white-color{
    color: white;
    font-weight: bold !important;
    font-family: Phosphate!important;
}





.top-right {
    position: absolute !important;
    top: 8px !important;
    right: 16px !important;
}

.bottom-right {
    position: absolute !important;
    bottom: 8px !important;
    right: 16px !important;
}


