<div class="container tex-carousel123" xmlns:display="http://www.w3.org/1999/xhtml">
    <h1 class="text-center text-white-color ">Past Conferences</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide multi-item-carousel" id="theCarousel0">
                <div class="carousel-inner" id="colums">
                    <!--<th:block th:each="project : ${project}">-->
                    <th:block th:each="conference: ${pastConferences}">
                        <div class="item" id="here">
                            <a th:href="@{http://www.thymeleaf/documentation.html}">
                                <div class="col-xs-4">
                                    <a th:href="@{/user/conference/{id}(id=${conference.id})}">
                                        <img class="img-responsive image-carousel123" th:src="@{images/carousel/picHome.jpg} "
                                             alt="Conference"/>

                                        <div th:text="Date " class="date-homepage"></div>
                                        <div th:text="${conference.name}" class="centered col-xs-4"></div>

                                        <div th:text="${conference.startDate}" class="bottom-left col-xs-4">
                                        </div>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </th:block>


                </div>
                <a class="left carousel-control arrow-carousel-left" href="#theCarousel0" data-slide="prev"><i
                        class="glyphicon glyphicon-chevron-left" ></i></a>
                <a class="right carousel-control arrow-carousel" href="#theCarousel0" data-slide="next" ><i
                        class="glyphicon glyphicon-chevron-right "></i></a>
            </div>
        </div>

        <script th:inline="javascript">

            $('#theCarousel0').carousel({
                interval: false
            });

            counter = 0;
            $('#theCarousel0 .item').each(function () {

                if (counter === 0) {
                    $(this).addClass('active');
                }
                counter++;
                var next = $(this).next();

                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                $(next.children(0)[1]).clone().appendTo($(this));

                if (next.next().length > 0) {
                    $(next.next().children(0)[1]).clone().appendTo($(this));
                } else {
                    $($(this).siblings(':first').children(0)[1]).clone().appendTo($(this));
                }
            });
        </script>
    </div>
</div>